.lightBoxSec {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 10;
  left: 0;
  z-index: 100;
  background-color: rgba($color: white, $alpha: 1);
  display: none;
}

.closeLightBoxIcon {
  position: absolute;
  right: 50px;
  top: 47px;
  font-size: 150%;
  color: $darkBlue;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;

  &:hover {
    color: $orangeText;
  }
}

.arrowIcon {
  @extend %flex_center;
  text-decoration: none;
  position: absolute;
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  font-size: 200%;
  color: $darkBlue;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;

  &:hover {
    color: $orangeText;
  }
}

.leftIcon {
  left: 0;
}

.rightIcon {
  right: 0;
}


.bigImageBox {
  max-width: 80%;
  height: 100%;
  margin: auto;
  @extend %flex_center;
  padding: 50px 0;

  img {
    max-width: 100%;
    max-height: 90%;
  }
}