.container {
    background-color: #727E6D;
}

.pageTitle {
    width: 100%;
    color: #D6B15C;
    text-align: center;
    padding: 100px 0 50px 0;
    letter-spacing: 0.5em;
    font-size: 0.9em;
    font-weight: 500;
}

.pageContent {
    padding: 20px 0;
    width: 80%;
    max-width: 700px;
    margin: auto;
    color: #DBD0A2;
    letter-spacing: 0.2em;
    line-height: 1.6em;
    font-size: 0.9em;

    a {
        color: $orangeText;
        text-decoration: none;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;

        &:hover {
            color: $darkblue;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 25px 0;
            display: block;

            a {
                word-wrap: break-word;
                word-break: break-all;
            }
        }
    }

    iframe {
        width: 100%;
        height: 500px;
    }
}

.categoryTitle {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: bold;
    letter-spacing: 0.2em;
}

//Table
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    th {
        font-weight: bolder;
    }
}

table,
td,
th {
    border: 1px solid #DBD0A2;
    padding: 20px 0;
}