.container {
    background-color: #CFC5A7;
}

.doingContent {
    @extend %flex_center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 900px;
    margin: auto;
    padding: 30px 0 0 0;
}

.textBox {
    width: 60%;
    padding-left: 65px;
}

.photoCollection {
    width: 40%;

    ul {
        width: 100%;
        padding: 0;
        margin: 0;

        li {
            display: block;
            list-style: none;
            width: 100%;

            a {
                width: 100%;
                text-decoration: none;
                display: block;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;

                &:hover {
                    opacity: 0.7;
                }

                img {
                    width: 95%;
                }
            }
        }

        .alignCollection_photo {
            margin-top: 35px;
        }
    }
}

.collectionTitle,
.collectionContent {
    width: 100%;
}

.collectionTitle {
    margin-bottom: 50px;
    letter-spacing: 0.4em;
}

.collectionContent {
    letter-spacing: 0.2em;
    line-height: 1.7em;
    font-size: 0.9em;

    a {
        display: block;
        color: black;
        font-weight: bold;
        text-decoration: none;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;

        &:hover {
            color: $orangeText;
        }
    }
}

// Mobile
.doingContent_mobile {
    display: none;
    width: 85%;
    margin: auto;
    padding: 100px 0 0 0;
    letter-spacing: 0.1em;
    line-height: 1.7em;
    font-size: 0.9em;

    a {
        display: block;
        color: $orangeText;
        font-weight: bold;
        text-decoration: none;
    }

    @include tablet {
        display: block;
    }

    @include mobile {
        display: block;
    }

    img {
        width: 100%;
    }
}

.doingContent {
    display: flex;

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }
}

.collectionTitle_mobile {
    margin-bottom: 50px;
    letter-spacing: 0.4em;
    text-align: center;
}