.container {
    background-color: #B49074;
}

.pageTitle {
    color: $darkblue;
}

.pageContent {
    padding: 0;
    max-width: 1300px;
    width: 90%;
}

#photoWrap {
    width: 100%;
    margin: 5px auto;
    overflow: hidden;
    @extend %flex_center;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

#photoWrap ul {
    width: 30%;
    list-style: none;
    margin: 10px;
    float: left;

    li {
        margin: 10px 0;

        a {
            width: 100%;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;

            img {
                width: 100%;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}